connect_flow
[{"id":"eed4ea0d.5b70e8","type":"websocket out","z":"faa358c0.d429e8","name":"","server":"ec89039b.95c66","client":"","x":887,"y":703,"wires":[]},{"id":"69547d5c.399134","type":"function","z":"faa358c0.d429e8","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;","outputs":1,"x":551,"y":661,"wires":[["eed4ea0d.5b70e8"]]},{"id":"b201fa2a.f38298","type":"websocket in","z":"faa358c0.d429e8","name":"","server":"ec89039b.95c66","client":"","x":164,"y":742,"wires":[["5eef4819.ba79f8"]]},{"id":"5eef4819.ba79f8","type":"function","z":"faa358c0.d429e8","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;","outputs":1,"x":553,"y":727,"wires":[["eed4ea0d.5b70e8"]]},{"id":"e67601a4.7c46e","type":"template","z":"faa358c0.d429e8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Owntracks & Node-Red Live Map</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n    \n    .overlay {\n        background-color: rgb(255,0,0,0.3);\n        height: 50px;\n        width: 100px;\n        font-size: 18px;\n    }\n  </style>\n</head>\n<body>\n \n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">\n  var socketaddy = \"ws://127.0.0.1:1880/ws/location2\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      \n      map = new GMaps({\n        div: '#map',\n        lat: -12.043333,\n        lng: -77.028333\n      });\n      \n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        \n        var array = $.map(latlng, function(el) {\n  \t\t\treturn [[el.lat, el.lng]];\n\t\t\t});\n        \n        map.removeMarkers();\n        map.removePolylines();\n       \tconsole.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n        map.setZoom(17);\n       \tmap.setCenter(latlng[0].lat, latlng[0].lng);\n        map.addMarkers(latlng);\n      \t\n      \t\n      \tarray.forEach((pos) => {\n            console.log(\"position\", pos)\n            map.drawOverlay({\n                lat: pos[0],\n                lng: pos[1],\n                content: '<div class=\"overlay\"> Something </div>',\n                layer: \"mapPane\",\n                verticalAlign: \"center\",\n                horizontalAlign: \"center\",\n            });\n        \n        })\n      \t/*map.drawPolyline({\n\t\t  path: array,\n\t\t  strokeColor: '#131540',\n\t\t  strokeOpacity: 0.6,\n\t\t  strokeWeight: 6\n\t\t});*/\n      }\n    });\n  </script>\n</body>\n</html>","x":566,"y":822,"wires":[["14324265.6bd0fe"]]},{"id":"14324265.6bd0fe","type":"http response","z":"faa358c0.d429e8","name":"","statusCode":"","headers":{},"x":767,"y":798,"wires":[]},{"id":"abba2b0f.fd3678","type":"http in","z":"faa358c0.d429e8","name":"","url":"/map2","method":"get","upload":false,"swaggerDoc":"","x":362,"y":803,"wires":[["e67601a4.7c46e"]]},{"id":"6a067c20.602ec4","type":"debug","z":"faa358c0.d429e8","name":"","active":true,"console":false,"complete":false,"x":627,"y":606,"wires":[]},{"id":"14b1052e.fa7c2b","type":"inject","z":"faa358c0.d429e8","name":"Array of Co-ords","topic":"","payload":"[{\"lat\":54.9619349,\"lng\":-1.6003813},{\"lat\":54.9656694,\"lng\":-1.5239833},{\"lat\":54.9696456,\"lng\":-1.5069755},{\"lat\":54.9378907,\"lng\":-1.5273729}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":254,"y":632,"wires":[["69547d5c.399134","6a067c20.602ec4"]]},{"id":"d73fc297.2b8dc","type":"inject","z":"faa358c0.d429e8","name":"Single Co-ord","topic":"","payload":"[{\"lat\":54.9696456,\"lng\":-1.5069755}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":244,"y":678,"wires":[[]]},{"id":"f2f008f2.120d68","type":"natural-language-understanding","z":"faa358c0.d429e8","name":"","categories":true,"concepts":true,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":true,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":742.5,"y":255,"wires":[["2e2c8f2.2d1347"]]},{"id":"5d5b4c10.607984","type":"function","z":"faa358c0.d429e8","name":"","func":"\nmsg = {}\nmsg.headers = { \"X-Api-Key\" : \"cf36c207f72a41f19c5ef669bc3d20c9\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":314.5,"y":94,"wires":[["adf97fdb.1e0e5"]]},{"id":"adf97fdb.1e0e5","type":"http request","z":"faa358c0.d429e8","name":"","method":"GET","ret":"obj","url":"https://newsapi.org/v2/top-headlines?country=us&category=general&pageSize=100","tls":"","x":537.5,"y":99,"wires":[["cdb4e5cf.cb5f68","9ec85af4.6579c8"]]},{"id":"14103bb0.018014","type":"inject","z":"faa358c0.d429e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":121.5,"y":72,"wires":[["5d5b4c10.607984"]]},{"id":"cdb4e5cf.cb5f68","type":"debug","z":"faa358c0.d429e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":887.5,"y":93,"wires":[]},{"id":"51491aaf.1cf2c4","type":"function","z":"faa358c0.d429e8","name":"","func":"\n//let articles = msg.payload.articles.\n\nmsg.payload = msg.payload.articles.map(article=>{ return { url : article.url, title: article.title, description: article.description }})\nreturn msg;","outputs":1,"noerr":0,"x":218.5,"y":324,"wires":[["30b76ec1.128f42"]]},{"id":"30b76ec1.128f42","type":"split","z":"faa358c0.d429e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":248,"y":220,"wires":[["75c0cb01.a42a04"]]},{"id":"e8cd583.f6b1ca8","type":"delay","z":"faa358c0.d429e8","name":"","pauseType":"rate","timeout":"0.25","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":487.5,"y":381,"wires":[["f2f008f2.120d68"]]},{"id":"9ec85af4.6579c8","type":"link out","z":"faa358c0.d429e8","name":"NatLang","links":["cc79431a.b4ed9"],"x":721,"y":176,"wires":[]},{"id":"cc79431a.b4ed9","type":"link in","z":"faa358c0.d429e8","name":"","links":["9ec85af4.6579c8"],"x":57,"y":310,"wires":[["51491aaf.1cf2c4"]]},{"id":"2e2c8f2.2d1347","type":"function","z":"faa358c0.d429e8","name":"","func":"\nlet entities = msg.features.entities.filter(entity => entity.type === \"Location\").map(entity => entity.text )\n\nmsg.payload = { entities : entities, article : msg.article }\nreturn msg","outputs":1,"noerr":0,"x":887.5,"y":379,"wires":[["fe23f8e9.22a5d8"]]},{"id":"fe23f8e9.22a5d8","type":"debug","z":"faa358c0.d429e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1025,"y":308,"wires":[]},{"id":"75c0cb01.a42a04","type":"function","z":"faa358c0.d429e8","name":"","func":"\nmsg.payload = msg.payload.url\nmsg.article = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":452.5,"y":216,"wires":[["e8cd583.f6b1ca8"]]},{"id":"ec89039b.95c66","type":"websocket-listener","z":"","path":"/ws/location2","wholemsg":"false"}]